[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2017.2"
six = "==1.10.0"
tornado = "==6.0.2"
torskel = "==0.6.12"
XlsxWriter = "==1.1.5"

[requires]
python_version = "3.7"
