{% extends "base.html" %}

{% block include %}
<script src="{{ static_url('nm_validator.js') }}"></script>
    {% block app_include %}
    {% end %}
{% end %}


{% block maker_app_cont %}
    <div class="panel panel-default">
        <div class="panel-heading"><b>{% block panel_title %}{% end %}</b>
            <button class="btn btn-default pull-right" onclick="switch_lang()">
                {% if user_l == 'ru' %}Русский {% else %} English {% end %}

            </button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            {% block panel_body %}
            {% end %}
        </div>
    </div>
{% end %}