<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}NameMaker {% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ static_url('style.css') }}" rel="stylesheet">
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ static_url('jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>

    {% block include %}
    {% end %}

    {% block app_include %}
    {% end %}
</head>

<body>
<div class="wrapper">
    <div class="app_bg">
        <div class="main_content">
            <div class="app_main">
                {% block navbar_header %}
                    <div class="navbar navbar navbar-inverse navbar-fixed-top cust_footer" >
                        
                    </div>
                {% end %}
                <div class="controls_bar">
                    <div class="container">
                        <div class="base_cont ">


                            <div class="row justify-content-md-center">
                                <div class="col col-lg-1">


                                </div>
                                <div class="col-12 col-md-auto">
                                    {% block maker_app_cont %}
                                    {% end %}
                                </div>
                                <div class="col col-lg-1">

                                </div>

                            </div>


                        </div>
                    </div>
                </div>


            </div>
            {% block navbar_footer %}
            <div class="navbar-fixed-bottom navbar-inverse cust_footer">
                <ul class="nav">
                    <li class="text-center active">&copy; 2017 Oleg Abbakumov</li>
                </ul>
            </div>


            {% end %}

        </div>
    </div>
</div>
{% if 'err_log' in globals() %}
<input type="hidden" id="err_log" value="{{ err_log }}">
<script language="JavaScript">

    $(document).ready(function () {
        var err_log = document.getElementById('err_log').value;
        if (err_log != 'False') {
            alert(err_log);
        }
    });
</script>
{% end %}
</body>
</html>

