{% extends "base/base_app.html" %}
{% block app_include %}{% end %}

{% block panel_title %} {{ loc['input_par'] }} {% end %}

{% block pnl_cont  %}

    <div class="row">
        <form action="#" id="permmutf">
            <table id="permut_tb" class="table table-striped">
                {% for row in grid %}
                    <tr id="{{row[0]['row']}}" style="padding: 2px">
                        {% for cell in row %}
                            <td style="padding: 2px">
                                <input type="text" name="{{cell['cell']}}" value="{{cell['value']}}" style="width: 50px; ">
                            </td>
                        {% end %}
                    </tr>

                {% end %}

            </table>
        </form>

        <form action="./permut_data" method="get" id="push_form">

            <input type="hidden" id="res_d" name="res_d">
            <input type="hidden" id="h_tbl" name="h_tbl">
            <input type="hidden" id="w_tbl" name="w_tbl">
        </form>
    </div>

{% end %}
